.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  font-size: 14px;
}

.univName {
  font-weight: 600;
}

.buttons {
  background-color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  margin-top: 10px;
}

.buttons button {
  background-color: white;

  width: 24px;
  height: 24px;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: background-color 0.2sease;
}

.buttons button:hover {
  background-color: #f1f1f1;
}

.buttons button svg {
  color: #424242;
  width: 24px;
  height: 24px;
}
