.citiesContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cities {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.cities img {
  width: 24px;
  height: 24px;
}

.cities h1 {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 1.25px;
}

.city {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
}

.formContainer h4 {
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form input {
  padding: 10px;
  font-size: 16px;
  max-width: 400px;
  border: 2px solid rgb(163, 163, 163);
}
